* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    background: #88ABFF;
  }

/*--------------------------------*/
/*NAVBAR*/
#topNavFlexbox {
    background-color: #8a8aff;/**/
    
    align-items: left;
    overflow:auto;
    gap: 0px;
    visibility: visible;
  }
  #topNavFlexbox > a {
    background-color: #a78aff;/**/
    border: thin white solid;
    text-decoration: none;
    color:#ffffff;
    margin: 0px;
    padding: 10px;
}
  #topNavFlexbox > a:hover {
    background-color: #c48aff;
    border: thin #c48aff solid;
    transition: 0.3s ease all;
  }
/*NAVBAR END*/
/*--------------------------------*/
/*RELAX CONTAINER*/
  #relaxContentsFlexbox {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;

  }
/*--------------------------------*/
/*IMGS & GIFS*/
  /*body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  /*
  **ARMS X
  LEGS
  WHOLE BODY X
  NECK
  BACK
  animated yoga, purple, background USED
  https://cdn.dribbble.com/users/919329/screenshots/2796076/media/05715cb3ea596b61dea95dbdea228d40.gif
  sunset beach, orange&black
  https://static.wikia.nocookie.net/survivor-canadienne-org/images/8/8d/Sunset-Waves-960px.gif
  animated yoga, purple, background
  <iframe src="https://giphy.com/embed/3oKIPavRPgJYaNI97W" width="480" height="360" frameBorder="0" class="" allowFullScreen></iframe>
  <a href="https://giphy.com/gifs/animation-yoga-exercise-3oKIPavRPgJYaNI97W"></a>
  hover meditation, no background
  https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2Y0M2E4YmJkM2YwOGVkNjFmMWMzMzBiMTg1MTNjYzIyZWM1OGU4YyZjdD1z/xUA7bbcVDWik6cPdmg/giphy.gif
  
  animated yoga, pink, no background, stiff anim **HAS WHITE OUTLINE
  https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5bc49a55989429.599c07a9224c3.gif
  animated yoga, mint, background
  https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/34c52563799919.5abc9eb3f3f75.gif
  */
/*--------------------------------*/
/*SLIDESHOW*/
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .Slidetext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*--------------------------------*/
/*BUTTON BREATHING APP*/
.relax-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .relax-input select {
    border: none;
    min-width: 300px;
    font-size: 16px;
    padding: 8px 4px;
    background-color: #6666ff;
    color: #fff;
    align-self: center;
  }
  
  .relax-input select:focus {
    outline: none;
  }
  
  .circle-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }
  
  .circle-outline {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    border: 15px solid #f1f1f1;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .circle-progress {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #6666ff;
    border-radius: 50%;
    transition: 4s ease all;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .circle-grow {
    transform: scale(5.3);
  }
  
  .breaths {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color:white;
  }
  
  .instructions {
    text-align: center;
    margin-bottom: 35px;
    color:white;
  }
  
  button {
    align-self: center;
    padding: 8px 20px;
    background-color: #6666ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
  }
  
  button:hover {
    background-color: #f1f1f1;
    color: #6666ff;
  }
  
  .button-inactive {
    pointer-events: none;
    background-color: #969696;
  }
  #breath-select-disable {
    pointer-events: none;
    background-color: #969696;
  }
/*BUTTON BREATHING APP END*/
/*--------------------------------*/
/*AUTO BREATHING APP*/
  #relax-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 0px;
    position: relative;
    transform: scale(1);      
  }
  #relaxText2 {
    color: white;
  }
  .relax-gradient-circle {
    border-radius: 50%;

    background: conic-gradient(
        #9999ff 0%,
        #cc99ff 40%,
        #ffffff 40%,
        #ffffff 60%,
        #99ccff 60%,
        #6699ff 100%
    );
    height: 320px;
    width: 320px;
    position: absolute;
    top:-10px;
    left:-10px;
    z-index: -2;
  }
  .circle2 {
    background-color: #010f1c;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  .relax-pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  #relax-wrapper2.contain2-grow {
    animation: grow 3s linear forwards;
  }
  #relax-wrapper2.contain2-shrink {
    animation: shrink 3s linear forwards;
  }
  .relax-pointer {
    background-color: #ffffff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
  }
  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  @keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
  }
  @keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
  }
/*AUTO BREATHING APP END*/
/*--------------------------------*/
